body {
  background-color: #f2f2f2;
	max-width: 1024px;
	margin: 0 auto;
}

*{
	font-family: Georgia, 'serif';
}

h2, h3, h4, h5{
	font-weight: bold;
	margin: 1;
	text-decoration: none
}

a {
	color: #000;
	text-decoration: none;
}	

a:hover {
	color: #fff;
	text-decoration: none;
}

nav ul li button:hover{
	color: #fff;
	background: #9acd32;
}

.wrapper .interpage{
	margin: 0;
	inline-size: min-content;
}

h1{
	text-align: center;
	margin: 40px auto;
	font-size: 2.4em;
}

header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px 0;
}

nav{
	justify-self: end;
}

nav li{
	display: inline-block;
	margin-left: 20px;
}

nav button{
	background: none;
	cursor: pointer;
	border: 0;
	font-size: 1.1em;
}

.articles {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 40px;
    grid-auto-flow: dense;
}

.article{
	padding: 10px;
	border: 1px solid black;
	position: relative;
	padding-bottom: 40px;
}

.article .author{
	padding: 10px;
	position: absolute;
	background:  #9acd32;
	right: 0;
	bottom: 0;
	margin:  0;
}

.article-detail .article{
	padding: 0;
}

.article-detail .article img{
	max-width: 100%;
	display:   block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.article-detail .article h2{
	text-align: center;
	margin: 20px auto;
	font-size: 2em;
}

.article-detail .article p{
	text-align:  left;
	word-wrap:   break-word;
	margin-left: 20px;
	margin-right: 20px;
}

.site-form{
	margin-top: 40px;
	border: 1px solid black;
	padding: 20px;
}

.site-form input{
	display: block;
}

.site-form #id_username, .site-form #id_password, .site-form #id_password1,
.site-form #id_password2, .site-form #id_title, .site-form #id_slug{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
  padding: 8px;
}

.site-form textarea{
	display: block;
	margin: auto;
	padding: 8px;
	width: 75%;
}

.site-form #id_thumb{
	margin: auto;
	width: 26.5%;
	padding: 8px;
	font-size: 1em;
}

.site-form label{
	display: block;
	padding:0;
	margin: 10px 0 10px 0;
	text-align: center;
}

.site-form .helptext{
	color: grey;
	display: table;
	margin: auto;
}

a.highlight, nav a{
	border: 1px solid black;
	padding: 10px;
	border-radius: 4px;
}

nav ul li a:hover{
	background: #9acd32;
}

nav ul li button{
	border: 1px solid black;
	padding: 10px;
	border-radius: 4px;
	font-size: 1em;
}

.errorlist li{
	padding: 8px;
	list-style-type: none;
	border: 0;
	color: red;
	margin: auto;
	width: max-content;
	text-align: center;
}

.errorlist{
	padding: 0;
}

.site-form input[type="submit"]{
	border: 1 solid blueviolet;
	background: blueviolet;
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	padding: 10px;
	width: 26.8%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
}

.site-form input[type="submit"]:hover{
	background: #9acd32;
	
}


.pagination{
	position: static;
	float: right;
	font-size: 1.2em;
	padding: 10px 0;
}